#theElement-0, 
#theElement-a, 
#theElement-b {
	position: relative;
	display: flex;
	align-items: left;
}

#theElement-0 > img {
	width: 60%;
	display: block;
	margin: 0px auto;
}

.panel {
	padding: 15px 15px 50px;
}

.admin_mode {
	margin-bottom: 50px;
}
